.bookingContainer{
    background-color: #e0edb5;
    min-width: 800px;
    min-height: 730px;
    margin-top: 20px;
    /* margin-left: 150px; */
}   

.booking-plane-icon{
    background-color: #212529;
    padding: 10px 0px;
    color: white;
    text-align: center;
    opacity: 0.9;
    font-size: 20px;
}

.flight-details{
    margin: 15px;
}

.first-row{
    display: flex;
    gap: 50px; 
    font-size: 18px;
}

.second-row{
    margin-top: 15px;
    display: flex;
    gap: 15px; 
    font-size: 45px;
}

.third-row{
    display: flex;
    gap: 60px; 
    font-size: 22px;
}

.flight-elements{
    margin: 10px;
}

.price-outer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-holder{
    margin-top: 25px;
    /* width: 150px;
    height: 100px;
    background-color: rgb(70, 71, 71, 0.6); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
}

.price-text{
    font-size: 30px;
}
.btn-book{
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    width: 180px;
    height: 35px;
    cursor: pointer;
    font-size: 18px;
}

.btn-container{
    margin: 45px;
    text-align: center;
    /* margin-bottom: 50px; */

}

.traveller-details, .payment-details{
    margin-top: 30px;
}

.form-group{
    margin-bottom: 15px;
}

label{
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.form-input{
    padding: 2px 10px;
}

.cardNum{
    width: 288px;
}

.month, .year, .cvv{
    width: 90px;
}

#rewards{
    width: 20px;
    margin-right: 2px;
}


.rewards-holder{
    margin-top: 5px;
    font-size: 17px;
}

.payment-line-1{
    display: flex;
    gap: 20px; 
}

.rewards-container{
    background-color: #e0edb5;
    width: 250px;
    height: 200px;
    margin-left: 50px;
    margin-top: 20px;
}   

.rewards-header{
    background-color: #212529;
    padding: 10px 0px;
    color: white;
    text-align: center;
    opacity: 0.9;
    font-size: 20px;
}

.reward-details{
    margin: 20px;
}
